body{
    background: linear-gradient(45deg, green 30%, blue)
}

form {
    width: 20rem;
    height: 30rem;
    display: grid;
    margin: auto;
    margin-top: 8rem;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    box-shadow: 3px 3px 20px black;
}

#display{
    grid-column: 1/5;
    height: 8rem;
    overflow: hidden;
    background-color: rgba(52, 53, 53, 0.9);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    padding: 1rem;
    color: white;
}

#prev-display{
    font-size: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
}  

#current-display {
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-all;
}

form input{
    font-size: 1.5rem;
}   

#keyboard{
    display: grid;
    gap: 1px;
    padding: 1px;
    background-color: rgba(54, 240, 54, 0.99);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#keyboard input{
    border-radius: 5px;
    background-color: rgba(109, 165, 243, 0.7);
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.5s;
}

#keyboard input:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#keyboard input:nth-of-type(19) {
    grid-column: 4/5;
    grid-row: 4/6;
}

@media (max-width: 720px) {
    main{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    
    form {
        margin: 1rem auto 0 auto;
        height: 90%;
    }

    .btn {
        font-size: 2rem;
    }
}